<div class="container">
  <div class="text-center mb-5">
    <button type="button" id="btnoption" class="btn btn-success btn-sm mx-3" (click)="Addnewrecord(template)">
      <i class="fas fa-plus"></i> 
      {{'general.addNewRecord' | translate }}
    </button>
    <button type="button" id="btnoption" class="btn btn-primary btn-sm mx-3" (click)="UpdateRecord(template)">
      <i class="fas fa-edit"></i>
      {{'general.updateRecord' | translate }}
    </button>
  </div>
</div>
  <div class="grid">
    <ag-grid-angular #agGrid style="width: 100%; height: 450px;" class="ag-theme-alpine" [rowData]="rowData | async "
      [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" animateRows
      [rowSelection]="rowSelection" (selectionChanged)="onSelectionChanged($event)" (gridReady)="onGridReady($event)"
      (rowDoubleClicked)="onrowDoubleClicked($event)" pagination>
    </ag-grid-angular>
</div>

<ng-template #template>
  <div class="modal" id="myModal" role="dialog" [style.display]=" 'block'">

    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title" id="exampleModalLongTitle">
            {{'general.add'| translate}}
          </h6>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="hide()"></button>
        </div>
        <div class="modal-body">
          <form #Items="ngForm" (ngSubmit)="onSubmit(Items)">
            <div class="row">
                <div class="form-control-plaintext">
                    <label for="unitCode">
                      <span class="badge badge-pill badge-light">
                        {{'FormData.Code' | translate}}
                      </span>
                    </label>
                    <input #unitCode="ngModel" type="text" data-dismiss="modal" class="form-control input-sm"
                      name="unitCode" id="unitCode" [(ngModel)]="UnitServ.SIuints.unitCode"
                       placeholder="{{'FormData.Code' | translate}}"
                      [readonly]="Update" required>
                    <div class="text-danger" *ngIf="isSubmitted && unitCode.invalid && unitCode.errors?.required ">
                      <small> {{'general.required' | translate}} </small>
                    </div>
                  </div>
              <div class="form-control-plaintext">
                <label for="unitName">
                  <span class="badge badge-pill badge-light">
                    {{'FormData.UnitArName' | translate}}
                  </span>
                </label>
                <input #name="ngModel" type="text" data-dismiss="modal" class="form-control input-sm" name="unitName"
                  id="unitName" [(ngModel)]="UnitServ.SIuints.unitName"
                  placeholder="{{'FormData.UnitArName' | translate}}" required>
                <div class="text-danger" *ngIf="isSubmitted && name.invalid && name.errors?.required ">
                  <small>{{'general.required' | translate}}</small>
                </div>
              </div>

              <div class="form-control-plaintext">
                <label for="Latname">
                  <span class="badge badge-pill badge-light">
                    {{'FormData.UnitEnName' | translate}}
                  </span>
                </label>
                <input #name="ngModel" type="text" data-dismiss="modal" class="form-control input-sm" name="unitEngName"
                  id="unitEngName" [(ngModel)]="UnitServ.SIuints.unitEngName" placeholder="{{'FormData.UnitEnName' | translate}}"
                  required>
                <div class="text-danger" *ngIf="isSubmitted && name.invalid && name.errors?.required ">
                  <small>{{'general.required' | translate}}</small>
                </div>
              </div>

            </div>

            <div class="form-row">
              <div class="col text-center">
                <button class="btn btn-success btn-sm mx-3" data-style="zoom-in">
                  <i class="fas fa-save mx-2"></i>
                  {{'FormData.Save' | translate}}
                </button>
                <button type="button" class="btn btn-danger btn-sm" *ngIf="Update"
                  (click)="Delete(UnitServ.SIuints.unitCode)">
                  <i class="fas fa-trash-alt mx-2"></i>
                  {{'FormData.Delete' | translate}}
                </button>
                <!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                  aria-labelledby="exampleModalLabel" aria-hidden="true">
                </div> -->
              </div>
            </div>

          </form>

        </div>

      </div>
    </div>
  </div>
</ng-template>
