<div class="container">
  <div class="mb-5 text-center">
    <!-- add New Record -->
    <button type="button" id="btnoption" class="btn btn-success btn-sm mx-3" (click)="Addnewrecord(template)">
      <i class="fas fa-plus"></i>
      {{'general.addNewRecord' | translate }}
    </button>
    <!-- update Record -->
    <button type="button" id="btnoption" class="btn btn-primary btn-sm mx-3" (click)="UpdateRecord(template)">
      <i class="fas fa-edit"></i> 
      {{'general.updateRecord' | translate }}
    </button>
  </div>
</div>

<div class="grid">
  <ag-grid-angular #agGrid style="width: 100%; height: 450px;" class="ag-theme-alpine" [rowData]="rowData | async "
    [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" animateRows
    [rowSelection]="rowSelection" (selectionChanged)="onSelectionChanged($event)" (gridReady)="onGridReady($event)"
    (rowDoubleClicked)="onrowDoubleClicked($event)" pagination>
  </ag-grid-angular>
</div>

<ng-template #template>
  <div class="modal" id="myModal" role="dialog" [style.display]=" 'block'">
    <div class="modal-dialog  modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title" id="exampleModalLongTitle">
            {{'general.add'| translate}}
          </h6>
          <button type="button" class="btn-close" (click)="hide()"></button>
        </div>
        <div class="modal-body">
          <form #Groups="ngForm" (ngSubmit)="onSubmit(Groups)">
            <div class="row">
              <!-- start ArName -->
              <div class="col-md-6">
                <label for="activityName">
                  <span class="badge badge-pill badge-light">
                    {{'FormData.ArName' | translate}}
                  </span>
                </label>
                <input #activityName="ngModel" type="text" data-dismiss="modal" class="form-control input-sm"
                  name="activityName" id="activityName" [(ngModel)]="objServ.SIactivitycodes.activityName"
                  placeholder="{{'FormData.ArName' | translate}}" required>
                <div class="text-danger" *ngIf="isSubmitted && activityName.invalid && activityName.errors?.required ">
                  <small>{{'general.required' | translate}}</small>
                </div>
              </div>
              <!-- start EnName -->
              <div class="col-md-6">
                <label for="activityEngName">
                  <span class="badge badge-pill badge-light">
                    {{'FormData.EnName' | translate}}
                  </span>
                </label>
                <input #activityEngName="ngModel" type="text" data-dismiss="modal" class="form-control input-sm"
                  name="activityEngName" id="activityEngName" [(ngModel)]="objServ.SIactivitycodes.activityEngName"
                  placeholder="{{'FormData.EnName' | translate}}" required>
                <div class="text-danger"
                  *ngIf="isSubmitted && activityEngName.invalid && activityEngName.errors?.required ">
                  <small>{{'general.required' | translate}}</small>
                </div>
              </div>
              <!-- End EnName -->

            </div> <!-- .row -->


            <div class="text-center mt-5">
              <!-- Save -->
              <button class="btn btn-success btn-sm" data-style="zoom-in">
                <i class="fas fa-save mx-2"></i>
                {{'FormData.Save' | translate}}
              </button>
              <!-- Delete -->
              <button type="button" class="btn btn-danger btn-sm" *ngIf="objServ.SIactivitycodes.activityCode>0"
                (click)="Delete(objServ.SIactivitycodes.activityCode)">
                <i class="fas fa-trash-alt mx-2"></i>
                {{'FormData.Delete' | translate}} </button>
            </div>
          </form>

        </div>

      </div>

    </div>
  </div>
</ng-template>
