<!--begin::Form-->
<form
  class="form w-100"
  id="kt_login_signin_form"
  (ngSubmit)="submit()"
>
  <!--begin::Heading-->
  <div class="text-center mb-10">
    <h1 class="text-dark mb-3">Sign In to E-Invoice</h1>

  </div>
  <!--end::Heading-->

  <!-- begin::Alert info-->
    <div class="mb-10 bg-light-info p-8 rounded">
      <div class="text-info">
        enter your <strong>email</strong>
        and <strong>Password</strong>
      </div>
    </div>
  <!-- end::Alert info-->



  <!--begin::Form group-->
  <div class="fv-row mb-10">
    <div class="form-group">
      <input class="form-control form-control-lg form-control-solid" id="inputEmail3"
      [(ngModel)] ="this.AdminServ.Seruser.userName"  name="userName"
      placeholder="User Name">
  </div>

  </div>
  <!--end::Form group-->

  <!--begin::Form group-->
  <div class="fv-row mb-10">
    <div class="form-group help">
      <input type="password" name="password"
      [(ngModel)] ="AdminServ.Seruser.password" class="form-control form-control-lg form-control-solid"
       id="inputPassword3" placeholder="Password">
  </div>

  </div>
  <!--end::Form group-->

  <!--begin::Action-->
  <div class="text-center">
    <button  class="btn btn-lg btn-primary w-100 mb-5" (click)=" submit()">log in</button>
  </div>
  <!--end::Action-->
</form>
<!--end::Form-->


